.paginaNoEncontrada {
  @include contenedor;
  padding-block: espaciado(96);
  text-align: center;
  color: var(--color-texto);

  h1 {
    font-family: var(--fuente-titulares);
    font-size: paso-tipografico(4);
    margin-block-end: espaciado(16);
  }

  a {
    @include boton-primario;
  }
}
