.equipo {
  display: flex;
  flex-wrap: wrap;
  gap: espaciado(24);
  padding-block: espaciado(64);
  padding-inline: espaciado(24);
  background-color: var(--color-fondo);
  color: var(--color-texto);

  h2 {
    flex-basis: 100%;
    font-size: paso-tipografico(4);
    margin-block-end: espaciado(24);
  }
}

.tarjeta {
  border: 1px solid var(--color-texto);
  border-radius: espaciado(8);
  padding: espaciado(16);

  h3 {
    font-size: paso-tipografico(2);
  }

  button {
    @include foco-visible;
    @include area-tactil-minima;
  }
}
